<!DOCTYPE CSS>
element.style {
}
#scrolly {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem;
}

section {
  display: block;
}
body {
  /* font-family: Avenir, Helvetica, Arial, sans-serif; Times New Roman */
  font-family: Arial, sans-serif;
  color: #2C1209;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 1px;
  margin-top: 1px;
  background-color: #f3f3f3;
  width: 100%;
}

h2 {
  font-family: "Times New Roman", serif;
  font-size: 40px;
  font-weight: 200;
  color: #000000;
  border-spacing: 0pc;
}

title {
  font-family: "Times New Roman",
  font-size: 20px;
  font-weight: 250;
  color: #000000;
}

header {
  font-family: "Times New Roman", serif;
  font-size: 15px;
  font-weight: 250;
  color: #000000;
}

footer {
  font-family: "Times New Roman", serif;
  font-size: 10px;
  font-weight: 250;
  color: #000000;
}

.navigation  {
  position: fixed;
}
